.canvas {
    display: block;
    cursor: default;
}

.canvas.draggable {
    cursor: grab;
}

.canvas.dragging {
    cursor: grabbing;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.canvasContainer {
    position: relative;
}

.version {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: grey;
    font-size: 10px;
} 